.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-top: none;
}

.color-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    background-color: #f0e68c;
}

.color-label:focus {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00bfff;
    font-size: 15px;
    color: #ffffff;
}